*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}
#button:hover {
  background-color: blue;
}

@media (min-width:320px) and (max-width: 768px){
.container{
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
  }
.blue{
  width: 90px;
  height: 90px;
  background-color: rgba(59,117,206,0.7);
  position: absolute;
  top: 53px;
  left: -8px;
  border-radius: 50%;
}
.orang{
  width: 90px ;
  height: 90px;
  background-color: rgba(245, 134, 49, 0.849);;
  position: absolute;
  top: 69%;
  left: 66%;
  border-radius: 50%;
}
.box{
  width: 233px;
  background-color: rgba(40, 39, 47, 0.7);
  height: 348px;
  border-radius: 10px;
  z-index: 1;
  backdrop-filter: blur(4px);
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.form label{
  color: white;
  margin-top: 20px;
}
.form input{
  height: 25px;
  background-color: rgba(55, 55, 62, 255);
  border-radius: 4px;
  margin-top: 2px;
  color:white;
};
.label1 {
  margin-bottom: 5px;
}
.label2 {
  margin-top: 25px;
  margin-bottom: 5px;
}

h1{
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}
.ButtonLog{
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.ButtonLog button{
  width: 171px;
  height: 40px;
  border-radius: 6px;
  font-weight: 900;
}

.ButtonGoogle{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.ButtonGoogle button{
  width: 80px;
  height: 28px;
  background-color: rgba(55, 55, 62, 255);
  color: white;
  white-space: nowrap;
  text-align: center;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 19px -22px;
  border-radius: 4px
}
.ButtonGoogle img{
  width: 10px ;
  height: 10px;
}
}
@media (min-width:769px) and (max-width:1024px){
  .container{
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
  }
  .blue{
    width: 90px;
    height: 90px;
    background-color: rgba(59,117,206,0.7);
    position: absolute;
    top: 53px;
    left: -8px;
    border-radius: 50%;
  }
  .orang{
    width: 90px ;
    height: 90px;
    background-color: rgba(245, 134, 49, 0.849);;
    position: absolute;
    top: 69%;
    left: 66%;
    border-radius: 50%;
  }
  .box{
    width: 233px;
    background-color: rgba(40, 39, 47, 0.7);
    height: 348px;
    border-radius: 10px;
    z-index: 1;
    backdrop-filter: blur(4px);
  }
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .form label{
    color: white;
    margin-top: 20px;
  }
  .form input{
    height: 25px;
    background-color: rgba(55, 55, 62, 255);
    border-radius: 4px;
    margin-top: 2px;
    color:white;
  };
  .label1 {
    margin-bottom: 5px;
  }
  .label2 {
    margin-top: 25px;
    margin-bottom: 5px;
  }
  
  h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
  }
  .ButtonLog{
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }
  .ButtonLog button{
    width: 171px;
    height: 40px;
    border-radius: 6px;
    font-weight: 900;
  }
  .ButtonGoogle{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
  }
  .ButtonGoogle button{
    width: 80px;
    height: 28px;
    background-color: rgba(55, 55, 62, 255);
    color: white;
    white-space: nowrap;
    text-align: center;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 19px -22px;
    border-radius: 4px
  }
  .ButtonGoogle img{
    width: 10px ;
    height: 10px;
  }
  
}
@media (min-width:1025px){
  .container{
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
  }
.blue{
  width: 90px;
  height: 90px;
  background-color: rgba(59,117,206,0.7);
  position: absolute;
  top: 53px;
  left: -8px;
  border-radius: 50%;
}
.orang{
  width: 90px ;
  height: 90px;
  background-color: rgba(245, 134, 49, 0.849);;
  position: absolute;
  top: 69%;
  left: 66%;
  border-radius: 50%;
}
.box{
  width: 233px;
  background-color: rgba(40, 39, 47, 0.7);
  height: 348px;
  border-radius: 10px;
  z-index: 1;
  backdrop-filter: blur(4px);
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.form label{
  color: white;
  margin-top: 20px;
}
.form input{
  height: 25px;
  background-color: rgba(55, 55, 62, 255);
  border-radius: 4px;
  margin-top: 2px;
  color:white;
  
};
.label1 {
  margin-bottom: 5px;
}
.label2 {
  margin-top: 25px;
  margin-bottom: 5px;
}

h1{
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}
.ButtonLog{
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.ButtonLog button{
  width: 171px;
  height: 40px;
  border-radius: 6px;
  font-weight: 900;
}
.ButtonGoogle{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.ButtonGoogle button{
  width: 80px;
  height: 28px;
  background-color: rgba(55, 55, 62, 255);
  color: white;
  white-space: nowrap;
  text-align: center;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 19px -22px;
  border-radius: 4px
}
.ButtonGoogle img{
  width: 10px ;
  height: 10px;
}
}
@media (min-width:50px){
  .container{
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
  }
.blue{
  width: 90px;
  height: 90px;
  background-color: rgba(59,117,206,0.7);
  position: absolute;
  top: 53px;
  left: -8px;
  border-radius: 50%;
}
.orang{
  width: 90px ;
  height: 90px;
  background-color: rgba(245, 134, 49, 0.849);;
  position: absolute;
  top: 69%;
  left: 66%;
  border-radius: 50%;
}
.box{
  width: 233px;
  background-color: rgba(40, 39, 47, 0.7);
  height: 348px;
  border-radius: 10px;
  z-index: 1;
  backdrop-filter: blur(4px);
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.form label{
  color: white;
  margin-top: 20px;
}
.form input{
  height: 25px;
  background-color: rgba(55, 55, 62, 255);
  border-radius: 4px;
  margin-top: 2px;
  color:white;
  
};
.label1 {
  margin-bottom: 5px;
}
.label2 {
  margin-top: 25px;
  margin-bottom: 5px;
}

h1{
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}
.ButtonLog{
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.ButtonLog button{
  width: 171px;
  height: 40px;
  border-radius: 6px;
  font-weight: 900;
}
.ButtonGoogle{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.ButtonGoogle button{
  width: 80px;
  height: 28px;
  background-color: rgba(55, 55, 62, 255);
  color: white;
  white-space: nowrap;
  text-align: center;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 19px -22px;
  border-radius: 4px
}
.ButtonGoogle img{
  width: 10px ;
  height: 10px;
}
}


